<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    split="radio"
    android:isFeatureSplit="true">

    <dist:module
        dist:instant="false"
        dist:title="@string/module_name_radio">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>
